[submodule "academy"]
	path = academy
	url = https://github.com/kodiq-ai/academy.git
[submodule "workspace"]
	path = workspace
	url = https://github.com/kodiq-ai/workspace.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/kodiq-ai/mobile.git
[submodule "web"]
	path = web
	url = https://github.com/kodiq-ai/web.git
[submodule "shared"]
	path = shared
	url = https://github.com/kodiq-ai/shared.git
